@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
    --primary-color: rgb(35, 35, 35);
    --secondary-color: rgb(210, 210, 210);
    --tertiary-color: rgb(66, 66, 66);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
    font-weight: bolder;
    color: var(--secondary-color);
    background: var(--primary-color);
}

span {
    display: inline-flex;
    margin: 5px;
}

.container {
    padding: 10px;
    background: var(--primary-color);
}

/* FRASE GERADA */
.div-paragraph {
    text-align: center;
    margin: 5% 15% 0 15%;
    padding: 20px;
    border-radius: 20px;
}

/* RESULTADO DO WPM */
.div-wpm {
    color: black;
    font-size: 1.5em;
    margin: 35px 43%;
    padding: 20px;
    border-radius: 12px;
}

.background-div-wpm {
    background: white;
}

.div-results {
    display: grid;
    justify-content: center;
}

/* DIGITACAO */
.div-input {
    display: grid;
    place-items: center;
    caret-color: transparent;
}

.input-palavra {
    background-color: var(--tertiary-color);
    outline: none;
    border: none;
    cursor: default;
    font-size: 1.2em;
    color: var(--secondary-color);
    padding: 0 10px;
    width: 20%;
    height: 55px;
    border-radius: 20px;
}

/* BOTAO RESETAR */
.div-btn-reset {
    display: grid;
    justify-content: center;
    margin-top: 25px;
}


/* ACERTOS E ERROS */
.acerto {
    color: rgb(109, 153, 211);
}

.erro {
    color: white;
    background: rgb(213, 76, 76);
    border-radius: 5px;
}
