@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('../teste_digitacao_page/style.css');

input {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9em;
    color: var(--input-word-pantone);

    text-align: center;

    caret-color: transparent;

    background: var(--background-default-color);
    border: none;
    border-bottom: 2.5px solid var(--input-word-pantone);
    outline: none;
  }
  